<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.pinimg.com/originals/fd/b8/bc/fdb8bc1863d1f04429ff97056fa51666.jpg" type="image/x-icon">
    <title>Edit SoftSolutions</title>
    <link rel="stylesheet" href="/Frontend/public/css/editTable.css">
</head>
<body onload="editProduct()">
    <div class="container">
        <h1 class="title">Editar Producto</h1>
        <form class="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" class="form-control">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" id="price" class="form-control">
            </div>
            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="text" id="stock" class="form-control">
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select id="categorySelect" class="form-control-1">
                    <option value="">Select a Category</option>
                    <script src="/Frontend/public/js/functionsCategory.js"></script>
                </select>
            </div>
            <button type="button" class="btn" onclick="updateProduct()">Update</button>
        </form>
    </div>
    <script src="/Frontend/public/js/functionsProduct.js"></script>
    <!-- <script src="/Frontend/public/js/functionsCategory.js"></script>   -->
</body>
</html>
